@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  /* background-color: #fff2ea; */
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
   background-color: white;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Position the chat icon at the bottom-right corner */
.bpw-floating-button {
  bottom: 20px !important;
  right: 20px !important;
}

/* Adjust the chat window position and size */
.bpw-layout {
  bottom: 90px !important;
  right: 20px !important;
  height: 60vh !important; /* Adjust this value to change the height */
  max-height: 100px !important; /* Set a maximum height if needed */
}

/* Ensure the chat window is above other elements */
#bp-web-widget {
  z-index: 9999 !important;
}

